* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  height: 100vh !important;
  color: white;
  font-family: 'Loved by the King', cursive;
  background: url("assets/other.jpg") center bottom fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
#heading {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  height: 100vh !important;
  padding-bottom: 30px;
}
.navbar-inverse {
  background: transparent;
  padding-top: 13px;
  border: none;
}
.navbar-right {
  margin-right: 10%;
}
.navbar .nav > li > a {
  line-height: 19px;
  padding: 13px;
  font-size: 1.6em;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
}

.navbar .nav >li > a:hover {
  color: #00ECFF;
}

div#navbar.navbar-collapse.collapse.in {
  background: gray;
  border: none;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-size: 1.4em;
}

.navbar-inverse .navbar-brand:hover {
  color: #00ECFF;
}

a.navbar-brand {
  padding-left: 40px;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
#icart {
  font-size: 1.9em;
}

h2 {
  font-size: 1.7em;
  margin: 0;
  padding-top: 55px;
}

ul.social {
  list-style: none;
  padding: 10px;
  margin-top: 30px;
}

.social li {
  display: inline;
  color: white;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

#codepen {
  font-size: 1.1em;
  padding: 8px;
  transition: .3s;
  color: white;
}

#linked-in {
  font-size: 2.1em;
  padding: 8px;
  transition: .3s;
  color: white;
}

#free-code-camp,
#github {
  font-size: 2.2em;
  padding: 8px;
  transition: .3s;
  color: white;
}

#codepen:hover,
#free-code-camp:hover,
#github:hover,
#linked-in:hover {
  color: #00ECFF;
  transition: .3s;
}

.col-sm-6 {
  color: white;
  display: inline-block;
}

.btn {
  background: transparent;
  display: inline-block;
}

button:hover span {
  color: #00ECFF;
  transition: .4s;
}

.glyphicon {
  font-size: 2.5em;
}

#projects,
#user {
  width: auto;
  text-align: center;
  color: white;
  outline: none;
  border: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 25px;
  cursor: pointer;
}

#user {
  float: right;
  padding-right: 10px;
}

#projects {
  float: left;
  padding-left: 10px;
}

section {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 45px;
}

#portfolio {
  background-color: rgba(11, 148, 105, .6);
  
}
h3 {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 16px;
  font-size: 2.9em;
  font-weight: 700;
  opacity: 1.0;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#port-main {
  padding: 5px;
  margin: 5px;
  text-align: center;
}
#work {
  padding-top: 0;
  padding-bottom: 20px;
  color: white;
}
#work a {
  color: #FFB2A1;
  text-decoration: none;
  cursor: pointer;
}
#work a:hover {
  color: #00ECFF;
  transition: .3s;
}
#work p {
  font-size: 1.6em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
#work h4 {
  font-size: 1.8em;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
#about {
  background-color: rgba(89, 79, 131, .6);
}
.col-md-6 {
  font-size: 1.7em;
}
#portrait {
  text-align: center;
  height: auto;
  width: 380px;
  opacity: .8;
  border-radius: 15px;
  margin-bottom: 25px;
  border: 2px solid #00ECFF;
  padding: 4px;
}
.bottom {
  font-size: 1em;
  color: white;
  text-align: left;
  padding-top: 50px;
  padding-left: 5px;
  margin: 0;
  padding-bottom: 0;
}

@media (max-device-width: 800px) {
  body, html {
    overflow: scroll !important;
  }
  h2 {
    padding-top: 50px;
  }
  navbar {
    visibility: hidden;
  }
  #portrait {
    width: 350px;
  }
  svg {
    width: 90%;
  }
}
@media (max-device-width: 600px) {
  #portrait {
    width: 280px;
  }
  h3 {
    padding-top: 20px;
  }
  #about {
    text-align: left;
  }
}